ALPHA=0.5
RETARDO_CICLO_CPU=1
ESTIMACION_INICIAL=5
ID_COLA_LOCALIZED=0
POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
PUERTO_BROKER=37227
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=RR
POKEMON_ENTRENADORES=[]
IP_BROKER=127.0.0.1
QUANTUM=1
LOG_FILE=/home/utnso/log_teamCompleto2_RR.txt
ID_COLA_APPEARED=0
ID_COLA_CAUGHT=0
OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]
