ALPHA=0.5
RETARDO_CICLO_CPU=1
ESTIMACION_INICIAL=5
ID_COLA_LOCALIZED=1
POSICIONES_ENTRENADORES=[1|3,2|3,2|2]
PUERTO_BROKER=37227
TIEMPO_RECONEXION=30
ALGORITMO_PLANIFICACION=FIFO
POKEMON_ENTRENADORES=[Pikachu]
IP_BROKER=127.0.0.1
QUANTUM=0
LOG_FILE=/home/utnso/log_teamCompleto1_FIFO.txt
ID_COLA_APPEARED=0
ID_COLA_CAUGHT=0
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
